.home-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
  width: min(95%, 500px);
  box-sizing: border-box;
}

.tag {
  color: var(--secondary-dark-text);
  margin-bottom: 0.25rem !important;
}

/* logo */
.logo {
  background-color: var(--primary);
  color: white;
  padding: 1rem;
  border-radius: var(--border-radius-default);
  text-align: center;
}

.logo-ai {
  text-decoration: underline;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card p {
  margin: 0;
  padding: 0;
}
